@import '../../styles/contants.scss';

.wrapper {
    .container {
        flex-direction: column;
        gap: 2rem;

        .experiences {
            width: 100%;
            flex-direction: column;
            gap: 1.4rem;
            position: relative;

            .exp {
                width: 100%;
                justify-content: space-between;
                line-height: 40px;
                align-items: flex-start;

                >div {
                    flex: 1;
                }

                .role {
                    margin-left: 2rem;
                }
            }

            .progressbar {
                position: absolute;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.4rem;
                left: 45%;

                .line {
                    position: absolute;
                    height: 92%;
                    width: 2px;
                    background-image: linear-gradient(black 33%, rgba(255, 255, 255, 0) 0%);
                    background-position: right;
                    background-size: 2px 30px;
                    background-repeat: repeat-y;
                    left: 48%;
                    z-index: 1;
                    border-radius: 5px;
                }

                >div {
                    flex: 1;
                    padding-top: .8rem;
                    z-index: 2;

                    .circle {
                        border-radius: 50%;
                        background: black;
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                }
            }
        }

    }
}


.div {
    width: 600px;
    height: 300px;
    padding: 15px;
    margin-top: 30px;
    color: black;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.margin{
    margin: auto;
    display: table;
}

.rainbowbox {
    background-color: #302244;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    height: 400px;
    margin: 20px auto;
    width: 400px;
    margin-top: 102px;
  }


    @keyframes steam {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }


  .block {
    position: relative;
    margin: 10px auto 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(0deg, #000, #272727);
    z-index: 1;
    padding: 5%;
    font-size: 1rem;
}

.blockTwo {
  position: relative;
  margin: 10px auto 0;
  width: 100%;
  height: 1050px;
  background: linear-gradient(0deg, #000, #272727);
  z-index: 1;
  padding: 5%;
  font-size: 1rem;
}

 .sock {
    position: relative;
    left: -0.3%;
    top: -252px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 393%;
    width: 100.6%;
    height: 254px;
    z-index: 0;
    animation: steam 70s linear infinite;
 }

 .sockTwo {
  position: relative;
  left: -0.3%;
  top: -252px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 393%;
  width: 100.6%;
  height: 254px;
  z-index: 0;
  animation: steam 70s linear infinite;
}

 .dock {
    position: relative;
    left: -0.3%;
    top: -504px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 393%;
    width: 100.6%;
    height: 254px;
    z-index: 0;
    animation: steam 70s linear infinite;
    filter: blur(50px);
 }


 .educationHeight {
    height: 281px;
 }

 .educationHeightTwo {
  height: 1281px;
}

 

 .cardPurpleBlue {
    background: linear-gradient(45deg, #6d80fe 0%, #23d2fd 100%);
    box-shadow: 0 5px 20px rgba(35, 210, 253, 0.3);
  }

  .cardBlueish {
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    box-shadow: 0 5px 20px rgba(35, 210, 253, 0.3);
  }

  .cardGreenish {
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    box-shadow: 0 5px 20px rgba(35, 210, 253, 0.3);
  }

  .cardRainbowish {
    background: linear-gradient(122.3deg, rgb(111, 71, 133) 14.6%, rgb(232, 129, 166) 29.6%, rgb(237, 237, 183) 42.1%, rgb(244, 166, 215) 56.7%, rgb(154, 219, 232) 68.7%, rgb(238, 226, 159) 84.8%);
    box-shadow: 0 5px 20px rgba(35, 210, 253, 0.3);
  }

  .cardPinkish {
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    box-shadow: 0 5px 20px rgba(35, 210, 253, 0.3);
  }

  .cardAnotherish {
    background: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
    box-shadow: 0 5px 20px rgba(35, 210, 253, 0.3);
  }

  .card {
    border: 0;
    border-radius: 10px;
  }