@import '../../styles/contants.scss';

.wrapper {
    @media (max-width: $sm), (max-width: $md) {
        height: 50rem;
    }
    overflow: hidden;
    height: 35rem;


    .container {
        position: relative;
        z-index: 1;

        .upperElements {
            @media (max-width: $sm) {
                justify-content: center;
                text-align: center;
                gap: 2rem;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .textOne {
            font-size:2.5rem;
        }


        .lowerElements {
            @media (max-width: $sm), (max-width: $md) {
                margin-top: 4rem;
                gap: 2rem;
                justify-content: center;
            }
            .image {
                width: 10%;
                margin: 0;
            }
            .imageMern {
                width: 30%;
                margin: 0;
            }
            .textAlign{
                text-align: right;
            }
            .wrapper {
                display: grid;
            }
            * {
                box-sizing: border-box;
              }
              
              /* Create two equal columns that floats next to each other */
              .column {
                float: left;
                width: 50%;
                padding: 10px;
                height: 300px; /* Should be removed. Only for demonstration */
              }
              
              /* Clear floats after the columns */
              .row:after {
                content: "";
                display: table;
                clear: both;
              }
            margin-top: 12rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .experience {
                display: flex;
                align-items: center;
                gap: 1rem;
                >:nth-child(2) {
                    line-height: 25px;
                }
            }

            .certificate {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    margin-bottom: 1rem;
                    width: 3.5rem;
                }
            }
        }

        .person {
            @media (max-width: $sm ), (max-width: $md) {
                position: relative;
                left: 0;
                background-size: 20rem;
                display: flex;
                bottom: -2rem;
                align-items: center;
                justify-content: center;
                background-position: bottom;
            }
            position: absolute;
            bottom: 8rem;
            margin: auto;
            background-image: url("../splash.png");
            background-repeat: no-repeat;
            background-size: 23rem;
            left: 33%;

            img {
                @media (max-width: $sm ) {
                    width: 23rem;
                }
                margin-bottom: -5px;
            }
        }

        .email {
            @media (max-width: $sm ) {
                position: relative;
                display: none;
            }
            position: absolute;
            top: 50%;
            left: 0;
            color: orange;
        }
    }
}