@import './contants.scss';
.container{
    overflow-x: clip;
    position: relative;
    color: white;
    background: #61357c;
}
.containerTwo{
    overflow-x: clip;
    position: relative;
    color: white;
    background: #61357c;
    width: 100%!important;
}